@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    /* light mode */
    --bg-color: linear-gradient(206deg, #FFF1F5 0%, #fdd5de 100%);
    --nav-color: linear-gradient(150deg, #FFE7EB 0%, #ffc7d4 100%);
    --text-color: #4B1A2A;
    --card-color: linear-gradient(150deg, #ffffff 0%, #ffe3ee 100%);
    --button-color: #FF5E84;
    --shadow-color: #B8B8B8;
    --button-hover: #e24d71;
    --logo: linear-gradient(90deg,#FF5E84, #aba8f7 );

    /* dark mode */
    --dark-bg: linear-gradient(154deg, #070f2b 0%, #010114 100%);            
    --dark-nav: linear-gradient(154deg, #1b1a55 0%, #3c3a7b 100%);   
    --dark-text: #decafe;         
    --dark-card: linear-gradient(206deg, #111634 0%, #121850 100%);        
    --dark-button: #6462a0;        
    --dark-shadow: #535C91;       
    --dark-button-hover: #A8A5D4;       
    --dark-logo: linear-gradient(90deg, #9290C3, #FF5E84); 
}
.short-icon img:hover,
.quest-card:hover,
.featured:hover,
.glow-meter:hover,
.info-card:hover,
.blog-highlight:hover {
  transform: scale(1.02);
  transition: transform 0.5s ease;
}
body.day{
    background: var(--bg-color);
    color: var(--text-color);
}
body.night{
    background: var(--dark-bg);
    color: var(--dark-text);
}

.logo{
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    background: var(--logo);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
body.night .logo{
    background: var(--dark-logo);
    background-clip: text;
}

nav{
    font-size: 1rem;
    padding: 1rem 2rem;
    background: var(--bg-color);
    box-shadow: 0 2px 4px var(--shadow-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s ease;
}
body.night nav {
  background: var(--dark-bg);
  box-shadow: 0 2px 4px var(--dark-shadow);
}

.navlinks{
    display: flex;
    align-items: center;
    margin-left: auto;
}
nav a{
    margin-left: 2rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
}
body.night nav a {
  color: var(--dark-text);
}
nav a:hover{
    color: var(--button-color);
}
body.night nav a:hover{
    color: var(--dark-button);
}

.skin {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.skin img {
  width: 100%;
  height: 100%;
  filter: brightness(0.88);
  object-fit: cover;
  display: block;
}


.greeting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  text-align: left;
  padding: 1rem;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  z-index: 2;
}

.greeting h1{
    font-size: 2.7rem;
    font-weight: bold;
}
.greeting p{
    font-size: 1rem;
}

body.night .skin::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 15, 43, 0.4);
    z-index: 1;
}

.short{
  width: 100%;
  background: var(--card-color);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 0.9rem;
}
.short-icon img{
  width: 40px;
}

.kindness{
  padding: 3rem;
  margin: 2rem;
  text-align: center;
  font-size: 1.1rem;
}
.kindness h2{
  font-size: 2.2rem;
  margin-bottom: 1rem;
}



.main-section{
  background: var(--card-color);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: flex-start;
  padding: 2rem;
  margin-bottom: 2rem;
}


/* left */
.left{
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.2rem;
}

.quest-card, .glow-meter{
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
}
.quest-card{
  background: var(--nav-color);
  height: 10rem;
}
.left h2{
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.quest-card p, .featured p{
  font-size: 1rem;
}
.meter-bar{
  width: 100%;
  height: 18px;
  background: #ffd9e3;
  border-radius: 20px;
  overflow: hidden;
}
.meter-fill{
  width: 87%;
  height: 100%;
  background: var(--logo);
  border-radius: 20px;
}
.main-img {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-img img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

/* right */

.right{
  flex: 1 1 55%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 1rem;
}
.info-card {
  display: flex;
  flex-direction: column;
  background: var(--nav-color);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 4px var(--shadow-color);
  width: 100%;               
  gap: 0.8rem;               
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4rem;                
  flex: 1;
}
.card-text a {
  color: var(--button-color);
  text-decoration: none;
  font-weight: bold;
  margin-top: 0.5rem;
}
.card-text a:hover{
  text-decoration: underline;
}

.card-text h2{
  font-size: 1.6rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.card-text ul {
  list-style-type: disc;
  padding-left: 1.2rem;
}

.card-text li {
  margin-bottom: 0.2rem;
  font-size: 1rem;
  color: var(--text-color);
}
.card-img img{
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 0.4rem;
}


/* ingredients */
.ingredients-scroll {
    padding: 2rem;
    width: 100%;
    color: var(--text-color);
}

.ingredients-scroll h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.ingredient-cards {
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
}

.ingredient-cards::-webkit-scrollbar {
    height: 8px;
}

.ingredient-cards::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 10px;
}

.ingredient-card {
    flex: 0 0 auto;
    background:var(--card-color);
    border-radius: 12px;
    padding: 1.5rem 1rem;
    min-width: 150px;
    max-width: 30%;
    box-shadow: 0 0px 4px var(--shadow-color);
    scroll-snap-align: start;
    color: var(--text-color);
}

.ingredient-card h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.ingredient-card p {
    font-size: 0.95rem;
}


/* blog card */
.blog-highlight {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background: var(--card-color);
  padding: 2rem;
  margin: 2rem;
  border-radius: 12px;
  box-shadow: 0 0px 8px var(--shadow-color);
  transition: transform 0.3s ease;
}

.blog-highlight:hover {
  transform: translateY(-5px);
}

.blog-highlight img {
  width: 18rem;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.blog-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.blog-text h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.blog-text p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
}

.blog-text a {
  text-decoration: none;
  color: var(--button-color);
  font-weight: bold;
}
.blog-text a:hover {
  text-decoration: underline;
}

body.night .blog-text h2,
body.night .blog-text p {
  color: var(--dark-text);
}



.footer {
      text-align: center;
      margin: 4rem 0 1rem;
      font-size: 0.9rem;
      color: #777;
}

@media(max-width: 768px) {
  .blog-section {
    flex-direction: column;
    flex-wrap: wrap;
  }

  nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .greeting {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .greeting h1 {
    font-size: 1.4rem;
  }
  .right {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .info-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .toggle {
    margin-left: 0;
    margin-top: 0;
    flex-shrink: 0;
  }
}



/* toggle mode */
.toggle{
    width: 3rem;
    height: 1.5rem;
    margin-left: 2rem;
    border-radius:50px;
    background: var(--button-color);
    position: relative;
    cursor: pointer;
    transition: all 0.3 ease;
}

.toggle::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: var(--nav-color);
    border-radius: 50%;
    top: 3px;
    left: 3px;
    box-shadow: 0 0 6px var(--button-color);
    transition: left 0.3s ease;
}
body.night .toggle{
    background: var(--dark-button);
}
body.night .toggle::before{
    left:27px;
    box-shadow: 0 0 8px var(--dark-button);

}


body.night .quest-card,
body.night .featured,
body.night .info-card {
  background: var(--dark-nav);
  box-shadow: 0 0px 4px var(--dark-shadow);
}

body.night .short,
body.night .main-section,
body.night .ingredient-card,
body.night .blog-highlight {
  background: var(--dark-card);
}
body.night .blog-highlight,
body.night .ingredient-card{
  box-shadow: 0 0px 4px var(--dark-shadow);

}
body.night .card-text li,
body.night .ingredients-scroll,
body.night .ingredient-card{
  color: var(--dark-text);
}
body.night .card-text a,
body.night .blog-text a{
  color: #e9dbff;
}
body.night .info-card img,
body.night .blog-highlight img{
  filter: brightness(0.6);
}
body.night .short-icon img {
  filter: brightness(0.5) invert(1);
}

