@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --bg-color: linear-gradient(206deg, #FFF1F5 0%, #FFE7EB 100%);
    --nav-color: #FFE7EB;
    --text-color: #4B1A2A;
    --card-color: #FFFFFF;
    --button-color: #FF5E84;
    --shadow-color: #B8B8B8;
    --button-hover: #e24d71;
    --logo: linear-gradient(90deg,#FF5E84, #ffffff);
}

body{
    background: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.logo{
    padding: 1.5rem;
    font-family: "DM serif display",serif;
    font-size: 2rem;
    background: var(--logo);
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



.container{
    flex:1;
    display:  flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.login-card{
    background: var(--card-color);
    padding: 2.5rem;
    border-radius: 20px;
    box-shadow: 0 0 25px var(--shadow-color);
    width: 100%;
    max-width: 400px;
}
.login-card h1{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--text-color);
}

label{
    display: block;
    margin-bottom: 0.4rem;
    color: var(--text-color);
    font-size: 1rem;
}
input{
    width: 100%;
    padding: 0.75rem;
    border-radius: 12px;
    border: 1.2px solid var(--shadow-color);
    margin-bottom: 1.5rem;
    font-size: 1rem;
    transition: 0.3s ease;
}
input:focus{
    border-color: var(--button-color);
    outline: none;
}
.forgot{
    text-align: right;
    margin-bottom: 1.5rem;
}
a{
    color: var(--button-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    padding: 0.75rem;
    background: var(--button-color);
    color: var(--card-color);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover{
    background: var(--button-hover);
}
.signup-link{
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1rem;
    color: var(--text-color);
}

@media(max-width: 500px){
    .login-card{
        padding: 2rem 1.5rem;
    }
}